@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Sensor Network";
}
<div class="nav col-lg-1">
    @*<ul>

    @foreach (var network in Model)
    {
        <li>
            <a>@Model.NetworkName</a>
            <ul>            
            @foreach (var sensor in network.Sensors)
            {
                <li>
                    <a>@sensor.Tag</a>
                </li>
            }
            </ul>
        </li>
    }
    </ul>*@
</div>
<h1> Say Hello to me</h1>